---
import type { Character } from '@/env';


interface Props {
    characterList: Character[]
}

const { characterList } = Astro.props;
---
<aside class="aside-characters flex items-center gap-2 
    w-full overflow-x-scroll pt-20 pb-2  lg:hidden">
    {
        characterList.map(({ id, name, img, type }) => (
        <a 
            class="character-link"
            title={`Visit ${name} page`}
            href={`/characters/${id}`}
            data-id={id}
            data-name={name}
            data-type={type}
        >
            <img 
                decoding="async"
                src={img} 
                alt={`Picture of ${name}`} 
                loading="lazy" 
                class="character-img w-28 mb-[5rem] h-auto transition group-hover:scale-110" 
            />
        </a>
        ))
    }
</aside>

<style>
    .aside-characters {
        scroll-behavior: smooth;
    }

    .aside-characters::-webkit-scrollbar {
		border-radius: 6px;
        height: 3px;
    }

    .aside-characters::-webkit-scrollbar-thumb {
		background-color: var(--color-badge);
		border-radius: 6px;
    }

    .aside-characters::-webkit-scrollbar-track {
		background-color: var(--color-primary);
		border-radius: 6px;
    }

    .aside-characters::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
    }


    .character-link {
        @apply relative flex flex-shrink-0 h-12 w-32 items-center justify-center;
        background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0%,
            transparent 40%,
            transparent 100%
        );
        transition: all 0.5s ease;
    }

    .character-link::before {
        content: "";
        position: absolute;
        inset: 0;
        display: block;
        background: linear-gradient(to bottom, var(--color-fifth) 0%, transparent);
        opacity: 0;
        height: 50%;
        transition:
            opacity 0.2s ease-in-out,
            height 0.2s ease-in-out;
    }

    .character-link:hover::before {
        opacity: 0.8;
        height: 100%;
    }

    .character-img {
        transition: transform 0.3s ease-in-out;
        mask-image: linear-gradient(
		  black 80%,
		  transparent
		)
    }

    .character-link:hover .character-img {
        transform: scale(1.1);
    }
</style>

