---
import type { Character } from '@/env';


interface Props {
    characterList: Character[]
    secondList?: boolean
}

const { characterList, secondList } = Astro.props;
---
<aside 
    class:list={[
        "aside-characters hidden lg:grid",
        {
            "aside-characters-second": secondList
        }
    ]}
>
    {
        characterList.map(({ id, name, img, type }) => (
        <a 
            class="character-link"
            title={`Visit ${name} page`}
            href={`/characters/${id}`}
            data-id={id}
            data-name={name}
            data-type={type}
        >
            <img 
                decoding="async"
                src={img} 
                alt={`Picture of ${name}`} 
                loading="lazy" 
                class="character-img w-28 mb-[5rem] h-auto transition group-hover:scale-110" 
            />
        </a>
        ))
    }
</aside>

<style>
    .aside-characters {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 100px;
        gap: 16px;
    }

    /* First list */
    .aside-characters > .character-link:nth-child(1),
    .aside-characters > .character-link:nth-child(2),
    .aside-characters > .character-link:nth-child(3),
    .aside-characters > .character-link:nth-child(4) {
        grid-column: 1;
        transform: translate(0,250%);
    }

    .aside-characters > .character-link:nth-child(5),
    .aside-characters > .character-link:nth-child(6),
    .aside-characters > .character-link:nth-child(7) {
        grid-column: 2;
        transform: translate(0,-350%);
    }

    /* Second list */
    .aside-characters-second > .character-link:nth-child(1),
    .aside-characters-second > .character-link:nth-child(2),
    .aside-characters-second > .character-link:nth-child(3) {
        grid-column: 1;
        transform: translate(0,350%);
    }

    .aside-characters-second > .character-link:nth-child(4),
    .aside-characters-second > .character-link:nth-child(5),
    .aside-characters-second > .character-link:nth-child(6),
    .aside-characters-second > .character-link:nth-child(7) {
        grid-column: 2;
        transform: translate(0,-250%);
    }

    .aside-characters > .character-link,
    .aside-characters-second > .character-link {
        align-self: start;
    }


    .character-link {
        @apply relative flex h-12 w-32 items-center justify-center;
        background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0%,
            transparent 40%,
            transparent 100%
        );
        transition: all 0.5s ease;
    }

    .character-link::before {
        content: "";
        position: absolute;
        inset: 0;
        display: block;
        background: linear-gradient(to bottom, var(--color-fifth) 0%, transparent);
        opacity: 0;
        height: 50%;
        transition:
            opacity 0.2s ease-in-out,
            height 0.2s ease-in-out;
    }

    .character-link:hover::before {
        opacity: 0.8;
        height: 100%;
    }

    .character-img {
        transition: transform 0.3s ease-in-out;
        mask-image: linear-gradient(
		  black 80%,
		  transparent
		)
    }

    .character-link:hover .character-img {
        transform: scale(1.1);
    }
</style>

