<section class="mx-auto flex flex-col justify-center items-center text-center">
    <div class="mt-8">
        <div class="bg-third rounded-md 
            border-2 border-sixth p-2 w-[19rem] md:w-[30rem] h-[7.5rem] md:h-[9.5rem] pointer-events-none">
            <p class="typed-text date-typing w-full h-full whitespace-pre-wrap text-md md:text-2xl text-[#06DF0B]">
            </p>
        </div>
    </div>

    <audio id="typing-sound" src="/ace-typing.mp3" ></audio>
</section>

<script>

    document.addEventListener("astro:page-load", () => {
        const typingSound = document.getElementById("typing-sound") as HTMLAudioElement;
        const dateTyping = document.querySelector('.date-typing') as HTMLDivElement;
        let typingInterval: number | NodeJS.Timeout | null = null;
        
        if (!dateTyping) return

        window.addEventListener("popstate", () => {
            if (typingInterval) clearInterval(typingInterval);

        })
        
        const hasVisited = localStorage.getItem('hasVisited');
        const hasAcceptedSpoilers = localStorage.getItem('hasVisitedDialog');
        
        const now = new Date();
        const day = now.getDate();
        const month = now.toLocaleString('en-US', { month: 'long' });
        const time = now.toLocaleTimeString('en-US', { 
            hour: '2-digit', 
            minute: '2-digit' 
        });
        let currentIndex = 0;
        const stringToType = `${month} ${day} - ${time}\nStep into the courtroom drama\nand relive the legendary battles\nbetween attorneys and prosecutors!`;

        if (!hasVisited && hasAcceptedSpoilers) {
            typingSound.play();

            typingInterval = setInterval(() => {


                dateTyping.textContent += stringToType[currentIndex];
                currentIndex++;

                typingSound.onended = () => {
                    typingSound.play();
                }

                if (currentIndex >= stringToType.length) {
                    if (typingInterval) clearInterval(typingInterval);
                    typingSound.pause();
                }
            }, 80);

            localStorage.setItem('hasVisited', 'true');


        } else {
            dateTyping.parentElement!.innerHTML = `
                <p class="typed-text date-typing text-md md:text-2xl text-[#06DF0B]">
                    ${month} ${day} - ${time}<br>Step into the courtroom drama<br>and relive the legendary battles<br>between attorneys and prosecutors!
                </p>
            `;
        }
});

</script>