---
import { CHARACTERS } from "@/lib/consts"
import Layout from "@/layouts/Layout.astro"
import type { Character } from "@/env"
import Navbar from "@/components/sections/Navbar.astro"

import CharacterQuotes from "@/components/sections/CharacterQuotes.astro"
import CharacterLoginRank from "@/components/sections/CharacterLoginRank.astro"
import CharacterDataLarge from "@/components/sections/CharacterDataLarge.astro"
import CharacterDataSmall from "@/components/sections/CharacterDataSmall.astro"




const { id } = Astro.params
const character = CHARACTERS.find(({ id: charId }) => charId === Number(id))
if (!id || !character) {
    return Astro.redirect("/404")
}
const { 
    name,
    quotes, 
    objectionSound, 
} = character as Character
const firstName = name.split(' ')[0].toLowerCase()
---

<Layout title=`${name} - Details`>
    <Navbar />
    <main class="my-10">
        <section class="w-full">
            <CharacterDataLarge character={character} />
            <CharacterDataSmall character={character} />
        </section>
        <CharacterQuotes quotes={quotes} />
        <CharacterLoginRank id={id} firstName={firstName} />
    </main>
    <audio id="objection-sound" src={objectionSound}></audio>
</Layout>


<script>
    document.addEventListener("astro:page-load", () => {
        const objectionImgs = document.querySelectorAll('.objection-img') as NodeListOf<HTMLImageElement>;
        const objectionSound = document.getElementById("objection-sound") as HTMLAudioElement;

        if (!objectionImgs) return

        objectionImgs.forEach(objection => {
            objection.addEventListener('click', () => {
                objectionSound.play();
                objection.classList.remove("hover:animate-bouncing");
                objection.classList.add("animate-tada");

                objectionSound.onended = () => {
                    objection.classList.remove("animate-tada");
                    objection.classList.add("hover:animate-bouncing");
                }
            })
        })

    })
</script>

<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

</style>
